---
const { slug } = Astro.props;
---

<div id="waline"></div>

<link
    rel="stylesheet"
    href="https://unpkg.com/@waline/client@v3/dist/waline.css"
/>

<script define:vars={{ slug }}>
    import("https://unpkg.com/@waline/client@v3/dist/waline.js").then(
        ({ init }) => {
            init({
                el: "#waline",
                serverURL: "https://danmtz-comments.vercel.app",
                path: slug,
                lang: "es",
                dark: "auto",
                login: "force",
                locale: {
                    placeholder: "Deja un comentario...",
                },
            });
        },
    );
</script>
